.products-preview__photo {
  float: left;
  width: 100%;
  max-width: 190px;
  padding-right: 90px;
  margin-right: -75px;
  height: 100px;
  position: relative;
}

.preview_jdbc_chart {
 float: left;
  width: 100%;
  max-width: 230px;
  height: 140px;
  position: relative;
}
.preview_mem_chart {
 float: left;
  width: 100%;
  max-width: 230px;
  height: 140px;
  position: relative;
}
.preview_threads_chart {
 float: left;
  width: 100%;
  max-width: 230px;
  height: 140px;
  position: relative;
}