<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Monitoring</title>
    <th:block th:replace="fragments/header :: header-css"></th:block>
</head>
<body class="framed main-scrollable">

<div class="wrapper">

	<th:block th:replace="fragments/header :: header"></th:block>

	<div class="dashboard" ng-app="realtimeFormApp" ng-controller="realTimeCtrl" >

		<th:block th:replace="fragments/sidebar :: sidebar-left"></th:block>
	
		<div class="main">
          <div class="main__scroll scrollbar-macosx">


			<div class="container-fluid half-padding">
                <div class="datalist page page_products products float-right">
                
                  <div class="row"  >
                    <!-- right sidebar for details -->
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                      <div class="products-preview datalist-preview">
                        <div class="products-preview__cont">
                          <div class="products-preview__name" title="Name">RealTime</div>
                          <!--  div class="products-preview__data">
                            <div class="products-preview__photo">								
                            </div>
                            <div class="products-preview__info">
                              <div class="products-preview__type"></div>
                              <div class="products-preview__stat sparkline"></div>
                              <div class="products-preview__edit">
                                <div class="btn-group btn-group-sm">
                                  <button class="btn btn-{{pcubtnClass}}"  type="button">{{memPercent}} % of {{selectedSrv.heapSize}} MB</button>
                                </div>
                              </div>
                            </div>
                          </div -->
                          <div class="products-preview__props">
                          	<div class="products-preview__prop" title="Memory">
                            	<i class="fa fa-money"></i><span class="products-preview__salary">Memory</span>
                            	 <div class="preview_mem_chart">                            	 	
                            	 </div>
                            </div>
                            <div class="products-preview__prop" title="JDBC Pool">
                            	<i class="fa fa-money"></i><span class="products-preview__salary">JDBC Pool</span>
                            	 <div class="preview_jdbc_chart">                            	 	
                            	 </div>
                            </div>
                             <div class="products-preview__prop" title="Threads Pool">
                            	<i class="fa fa-money"></i><span class="products-preview__salary">Threads Pool</span>
                            	 <div class="preview_threads_chart">                            	 	
                            	 </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><!-- end right sidebar for details -->
                    
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                      <div class="panel panel-info">
                        <div class="panel-heading">
                          <h3 class="panel-title">RealTime</h3>
                        </div>
                        
                        <form class="datalist-filter" ng-submit="validate()">
                        	<div class="col-lg-4 col-md-4">
                        		<input type="radio" ng-model="showFileDocRT" value="fdoc-cpe-batch.cssf.lu" /><label class="panel-title">&nbsp;&nbsp;FileDoc PROD</label>
                        	</div>
                        	<div class="col-lg-4 col-md-4">
                        		<input type="radio" ng-model="showFileDocRT"  value="fdoc-cpe-batch-v.cssf.lu"/><label class="panel-title">&nbsp;&nbsp;FileDoc VAL</label>
                        	</div>
                            <div class="input-group datalist-filter__search">
                              <input class="form-control" placeholder="" type="text" ng-model="urltomonitor" ng-checked="showFileDocRT ? urltomonitor = showFileDocRT: urltomonitor = ''" autocomplete="on" />
                              	<span class="input-group-btn">
	                                <button class="btn btn-info" type="button" role="button" ng-click="validate()" data-toggle="collapse" data-target="#datalist-filter__detail" aria-controls="users__filter-detail" aria-expanded="false">
	                                  <div class="fa fa-refresh"></div>
	                                </button>
                                </span>
                            </div>
                          </form>
                        
                       	<div class="datalist__result">
                           
                            <div class="tab-content">
	                            <div>
	                                <div class="scrollable scrollbar-macosx">
	                                  	<div class="container-fluid">
	                                   		<div id="DataTables_Table_1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
												<div class="row">
													<div class="col-sm-12">
					                                     <table class="datalist__table table datatable display table-hover" width="100%" >
					                                      <thead>
					                                        <tr>
					                                          <th class="srv__pingId">Date</th>
					                                          <th class="srv__name">Name</th>
					                                          <th class="srv__usedMemory">UsedMemory</th>
					                                          <th class="srv__cpe">usedCpu</th>
					                                          <th class="srv__status">Active TRX</th>
					                                           <th class="products__chart">Memory %</th>
					                                          <!--  th class="products__type">Type</th -->
					                                        </tr>
					                                      </thead>
					                                      <tbody>
					                                      		<tr role="row" class="clickable-row"   ng-repeat="srv in data | orderBy: 'pingId' :true" ng-click="showInfoChart(srv.usedMemory, srv.heapSize, srv.jdbc[0].waitingThreadCount, srv.jdbc[0].poolSize, srv.thPool[0].activeCount, srv.thPool[0].poolSize)">
					                                      			<td class="sorting_1">{{srv.pingId | date:'yyyy-MM-dd HH:mm'}}</td>
					                                      			<td>
					                                      				<span ng-class="(srv.usedMemory / srv.heapSize * 100) > 75 ?  'label label-danger' : ''">{{srv.name}}</span>
					                                      			</td>
					                                      			<td>
					                                      				{{srv.usedMemory}} Mo
					                                      			</td>
					                                      			<td>
					                                      				<span ng-class="srv.cpuUsage > 5 ?  'badge badge-danger' : ''">{{srv.cpuUsage}}%</span>
					                                      			</td>
					                                      			<td><span ng-class="srv.activeTran > 1 ? 'badge badge-info':''">{{srv.activeTran}}</span></td>
					                                      			<td align="center"  >
					                                      				<div><span ng-class="(srv.usedMemory / srv.heapSize * 100) > 75 ? 'badge badge-danger' : 'badge badge-success'">{{(srv.usedMemory / srv.heapSize * 100)| number:0}} %</span></div>
					                                      			</td>
					                                      		</tr>
					                                      </tbody>
					                                    </table>
		                                  			</div>
		                                		</div>
			                                	
	                                		</div>
	                               		</div>
	                              	</div>
	                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div><!-- end row1 -->
                  
	           
				</div>
			</div>
			
			</div>
		</div>
		
	</div>
</div>
<th:block th:replace="fragments/footer :: script-common"></th:block>
<th:block th:replace="fragments/footer :: script-realtimeForm"></th:block>
	
</body>
</html>
			