<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="frontend/partials/head(title='Homepage title')">
</head>
<!--<div th:include="frontend/partials/head"></div>-->
<body>

    <div th:include="frontend/partials/menu"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Gestions des droits d'accès</h1>
                <p th:if="${error}" class="error"><div class="alert alert-danger" th:utext="${error}"></div></p>
               
               <form th:action="@{/admin/roles}" method="post" commandName="rolesAccesForm">
	                <table>
	                	<thead>
	                		<th>Nom</th>
	                		<th>email</th>
	                		<c:forEach th:each="role :  ${roles}"  >
	                			<th th:text="*{role.name}"></th>
	                		</c:forEach>
	                	</thead>
	                	<tbody>
			                <c:forEach th:each="user : ${users}" >
			                	<iput type="hidden" name="id" value="*{user.id}" />
			                	<tr>
			                		<td th:text="*{user.name}"></td>
			                		<td th:text="*{user.email}"></td>			                		
			                		<c:forEach th:each="role :  ${roles}"  >
			                			<td><input type="checkbox" name="roles" value="*{role.id}"  th:checked="*{user.roles.contains(role)}" /></td>
			                		</c:forEach>
			                	</tr>
			                </c:forEach>
						</tbody>
					</table>
					<input type="submit" value="Submit" />
				</form>
				
				<div class="row">
					<!--  div class="form-group col-md-1">
						<select class="form-control pagination" id="pageSizeSelect">
							<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}" th:selected="${pageSize} == ${selectedPageSize}"></option>
						</select>
					</div -->
					<div th:if="${users.totalPages != 1}" class="form-group col-md-11 pagination-centered">
						<ul class="pagination">
							<li th:class="${users.number == 0} ? disabled">
								<a class="pageLink" th:href="@{/admin/roles?(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
							</li>
							<li th:class="${users.number == 0} ? disabled">
								<a class="pageLink" th:href="@{/admin/roles?(pageSize=${selectedPageSize}, page=${users.number})}">&larr;</a>
							</li>
							<li th:class="${users.number == (page - 1)} ? 'active pointer-disabled'"
								th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
								<a class="pageLink" th:href="@{/admin/roles?(pageSize=${selectedPageSize}, page=${page})}" th:text="${page}"></a>
							</li>
							<li th:class="${users.number + 1 == users.totalPages} ? disabled">
								<a class="pageLink" th:href="@{/admin/roles?(pageSize=${selectedPageSize}, page=${users.number + 2})}">&rarr;</a>
							</li>
							<li th:class="${users.number + 1 == users.totalPages} ? disabled">
								<a class="pageLink" th:href="@{/admin/roles?(pageSize=${selectedPageSize}, page=${users.totalPages})}">&raquo;</a>
							</li>
						</ul>
					</div>
				</div>
						
            </div>
        </div>
    </div>

</body>
</html>