<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Monitoring</title>
    <th:block th:replace="fragments/header :: header-css"></th:block>
</head>
<body class="framed main-scrollable">
<div class="wrapper">
<th:block th:replace="fragments/header :: header"></th:block>

<div class="dashboard">

	<th:block th:replace="fragments/sidebar :: sidebar-left"></th:block>

	
	<div class="main">
          <div class="main__scroll scrollbar-macosx">
            <div class="main__cont">
            	<!-- heading and search block -->
              <div class="main-heading">
                <div class="main-title">
                  <ol class="breadcrumb">
                    <li class="active">Dashboard <span id="jsonptest"></span></li>
                  </ol>
                </div>
                <div class="main-filter">
                  <form class="main-filter__search">
                    <div class="input-group">
                      <input class="form-control" type="text" placeholder="Search..." />
                      	<span class="input-group-btn">
	                        <button class="btn btn-default" type="button">
	                          <div class="fa fa-search"></div>
	                        </button>
	                    </span>
                    </div>
                  </form>
                </div>
              </div><!-- heading and search block -->
              
              
              <div class="container-fluid half-padding">
                <div class="pages pages_dashboard">
                  <div class="row">
                    <div class="col-md-9">
                      <div class="panel panel-danger">
                        <div class="panel-heading">
                          <h3 class="panel-title">Users statistic</h3>
                        </div>
                        <div class="panel-body">
                          <div class="ld-widget">
                            <div class="ld-widget__cont">
                              <div class="ld-widget-main">
                                <div class="ld-widget-main__title">Levels</div>
                                <div class="ld-widget-main__chart"></div>
                              </div>
                              <div class="ld-widget-side">
                                <div class="ld-widget-side__title">Ratio</div>
                                <div class="ld-widget-side__chart"></div>
                                <div class="ld-widget-side__footer">
                                  <div class="ld-widget-side__item">
                                    <div class="ld-widget-side__label">Free</div>
                                    <div class="ld-widget-side__value">45</div>
                                  </div>
                                  <div class="ld-widget-side__item">
                                    <div class="ld-widget-side__label">Light</div>
                                    <div class="ld-widget-side__value">30</div>
                                  </div>
                                  <div class="ld-widget-side__item">
                                    <div class="ld-widget-side__label">Pro</div>
                                    <div class="ld-widget-side__value">20</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="panel panel-success">
                        <div class="panel-heading">
                          <h3 class="panel-title">Overview</h3>
                        </div>
                        <div class="panel-body">
                          <div class="ov-widget">
                            <div class="ov-widget__list">
                              <div class="ov-widget__item ov-widget__item_inc">
                                <div class="ov-widget__value">1,950</div>
                                <div class="ov-widget__info">
                                  <div class="ov-widget__title">Total users</div>
                                  <div class="ov-widget__change"><span>15</span><span class="fa fa-level-up"></span><span class="fa fa-level-down"></span><span class="fa fa-bolt"></span><span class="fa fa-thumb-tack"></span></div>
                                </div>
                              </div>
                              <div class="ov-widget__item ov-widget__item_dec">
                                <div class="ov-widget__value">3,230</div>
                                <div class="ov-widget__info">
                                  <div class="ov-widget__title">Earnings</div>
                                  <div class="ov-widget__change"><span>140</span><span class="fa fa-level-up"></span><span class="fa fa-level-down"></span><span class="fa fa-bolt"></span><span class="fa fa-thumb-tack"></span></div>
                                </div>
                              </div>
                              <div class="ov-widget__item ov-widget__item_warn">
                                <div class="ov-widget__value">12,450</div>
                                <div class="ov-widget__info">
                                  <div class="ov-widget__title">Visits</div>
                                  <div class="ov-widget__change"><span>921</span><span class="fa fa-level-up"></span><span class="fa fa-level-down"></span><span class="fa fa-bolt"></span><span class="fa fa-thumb-tack"></span></div>
                                </div>
                              </div>
                              <div class="ov-widget__item ov-widget__item_tack">
                                <div class="ov-widget__value">1,087</div>
                                <div class="ov-widget__info">
                                  <div class="ov-widget__title">Orders</div>
                                  <div class="ov-widget__change"><span></span><span class="fa fa-level-up"></span><span class="fa fa-level-down"></span><span class="fa fa-bolt"></span><span class="fa fa-thumb-tack"></span></div>
                                </div>
                              </div>
                              <div class="ov-widget__bar"><span>Conquer the world</span>
                                <div class="progress">
                                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <div class="panel panel-info">
                        <div class="panel-heading">
                          <h3 class="panel-title">Activity feed</h3>
                        </div>
                        <div class="feed-widget">
                          <div class="feed-widget__wrap scrollable scrollbar-macosx">
                            <div class="feed-widget__cont">
                              <div class="feed-widget__list">
                                <div class="feed-widget__item feed-widget__item_user">
                                  <div class="feed-widget__ico"><i class="fa fa-fw"></i></div>
                                  <div class="feed-widget__info">
                                    <div class="feed-widget__text"><b><a href='./'>Gary Long</a></b> has registered.</div>
                                    <div class="feed-widget__date">14:20 pm - 01.11.2016</div>
                                  </div>
                                </div>
                                <div class="feed-widget__item feed-widget__item_product">
                                  <div class="feed-widget__ico"><i class="fa fa-fw"></i></div>
                                  <div class="feed-widget__info">
                                    <div class="feed-widget__text">New product <b><a href='./'>Sony PlayStation 4</a></b>.</div>
                                    <div class="feed-widget__date">10:08 pm - 01.11.2016</div>
                                  </div>
                                </div>
                                <div class="feed-widget__item feed-widget__item_order">
                                  <div class="feed-widget__ico"><i class="fa fa-fw"></i></div>
                                  <div class="feed-widget__info">
                                    <div class="feed-widget__text">New order <b><a href='./'>#35108243</a></b>.</div>
                                    <div class="feed-widget__date">09:42 pm - 01.11.2016</div>
                                  </div>
                                </div>
                                <div class="feed-widget__item feed-widget__item_subscriber">
                                  <div class="feed-widget__ico"><i class="fa fa-fw"></i></div>
                                  <div class="feed-widget__info">
                                    <div class="feed-widget__text"><b><a href='./'>Julie Payne</a></b> subscribed to a news feed.</div>
                                    <div class="feed-widget__date">18:06 pm - 01.10.2016</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="panel panel-danger">
                        <div class="panel-heading panel-heading_label">
                          <h3 class="panel-title">Support Messages</h3>
                          <div class="label label-danger">2</div>
                        </div>
                        <div class="sp-widget">
                          <div class="sp-widget__wrap scrollable scrollbar-macosx">
                            <div class="sp-widget__cont">
                              <div class="sp-widget__top">
                                <div class="sp-widget__info">
                                  <div class="sp-widget__title"><i class="fa fa-envelope-o"></i><span>2 New Messages</span></div>
                                </div>
                                <div class="sp-widget__all"><a class="btn btn-default btn-block" href="inbox.html">Show All</a></div>
                              </div>
                              <div class="sp-widget__list">
                                <div class="sp-widget__item">
                                  <div class="sp-widget__user"><a href="./">Carol Burton</a><span class="sp-widget__date">, 18:06 pm</span></div>
                                  <div class="sp-widget__text">Etiam faucibus cursus urna. Ut tellus. Nulla ut erat id mauris vulputate elementum. Nullam varius.</div>
                                </div>
                                <div class="sp-widget__item">
                                  <div class="sp-widget__user"><a href="./">Judy Shaw</a><span class="sp-widget__date">, 11:38 pm</span></div>
                                  <div class="sp-widget__text">Praesent blandit. Nam nulla. Integer pede justo, lacinia eget, tincidunt eget, tempus vel, pede.</div>
                                </div>
                                <div class="sp-widget__item">
                                  <div class="sp-widget__user"><a href="./">Angela Kennedy</a><span class="sp-widget__date">, 13:03 pm - 01.09.2016</span></div>
                                  <div class="sp-widget__text">Vivamus vel nulla eget eros elementum pellentesque. Quisque porta volutpat erat.</div>
                                </div>
                                <div class="sp-widget__item">
                                  <div class="sp-widget__user"><a href="./">Larry Cole</a><span class="sp-widget__date">, 15:10 pm - 01.08.2016</span></div>
                                  <div class="sp-widget__text">Etiam faucibus cursus urna. Ut tellus. Nulla ut erat id mauris vulputate elementum. Nullam varius.</div>
                                </div>
                                <div class="sp-widget__item">
                                  <div class="sp-widget__user"><a href="./">Wanda Watson</a><span class="sp-widget__date">, 09:18 pm - 01.08.2016</span></div>
                                  <div class="sp-widget__text">Praesent blandit. Nam nulla. Integer pede justo, lacinia eget, tincidunt eget, tempus vel, pede.</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="panel panel-warning">
                        <div class="panel-heading">
                          <h3 class="panel-title">Settings</h3>
                        </div>
                        <div class="st-widget">
                          <div class="st-widget__wrap">
                            <div class="st-widget__cont">
                              <div class="st-widget__item st-widget__item_switch">
                                <div class="st-widget__label">Site accessibility</div>
                                <div class="st-widget__switch">
                                  <input class="bs-switch" type="checkbox" checked="checked" data-size="mini" data-on-color="success" data-off-color="danger" />
                                </div>
                              </div>
                              <div class="st-widget__item st-widget__item_switch">
                                <div class="st-widget__label">Invite mailing</div>
                                <div class="st-widget__switch">
                                  <input class="bs-switch" type="checkbox" data-size="mini" data-on-color="success" data-off-color="danger" />
                                </div>
                              </div>
                           
                              <div class="st-widget__item st-widget__item_number">
                                <div class="st-widget__label">Timeout value</div>
                                <div class="st-widget__number">
                                  <input class="form-control" type="number" min="5" max="50" step="5" value="15" />
                                </div>
                              </div>
                              <div class="st-widget__item st-widget__item_select">
                                <div class="st-widget__label">Something variant</div>
                                <div class="st-widget__select">
                                  <select class="selectpicker form-control" placeholder="Variable">
                                    <option>One</option>
                                    <option>Two</option>
                                    <option>Three</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
	
	
	
	
	</div>
</div>
<th:block th:replace="fragments/footer :: script-common"></th:block>
<th:block th:replace="fragments/footer :: script-home"></th:block>
</body>
</html>